DEBUG=1
SECRET_KEY=change-me
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=

BOT_TOKEN=your-bot-token
WEBHOOK_SECRET=your-secret-token
WEBHOOK_URL=https://your-domain.com/bot/webhook/

CLICK_SERVICE_ID=
CLICK_MERCHANT_ID=
CLICK_SECRET_KEY=

PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=

SITE_URL=https://your-domain.com
DATABASE_URL=